@import "tailwindcss";

:root {
  --background: #722B81;
  --foreground: #ffffff;
}

.dark {
  --background: #391a3f;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
